1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Identity operators
6. Membership operators
7. Bitwise operators

# 1. Arithmatic Opearator

In [29]:
X = 10
Y = 3

print("Addition : ", X + Y)
print("Substraction : ",X - Y)
print("Multiplication : ",X * Y)
print("Division : ",X / Y)
print("Modulus : ",X % Y)
print("Exponentiation : ",X ** Y)
print("Floor division : ",X // Y)

Addition :  13
Substraction :  7
Multiplication :  30
Division :  3.3333333333333335
Modulus :  1
Exponentiation :  1000
Floor division :  3

# 2. Assignment Operators

In [17]:
y = 5
y +=3
print("y +=3 : ",y)

x = 3 
x -= 3
print("X -= 3:",x)

z = 3
z *= 3
print("z *= 3 :",z)

a = 5
a /= 3
print("a /= 3 :",a)

y +=3 :  8
X -= 3: 0
z *= 3 : 9
a /= 3 : 1.6666666666666667

# 3. Comparision Operator

In [20]:
x = 5
y = 3

print(x == y)

print(x != y)

print(x > y)

print(x < y)

print(x >= y)

print(x <= y)

False
True
True
False
True
False

# 4. Logical Operators

In [21]:
x =5
print(x > 3 and x < 10)

print(x > 3 or x < 4)

print(not(x > 3 and x < 10))

True
True
False

# 5. Identity Operators

In [23]:
#  IS operator
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

print(x is y)

print(x == y)

True
False
True

In [25]:
#  IS Not Operator
print(x is not z)

print(x is not y)

print(x != y)

False
True
False

# 6. Membership Operators

In [26]:
#  IN operator
x = ["apple", "banana"]

print("banana" in x)

True

In [27]:
#  Not IN operator
x = ["apple", "banana"]

print("pineapple" not in x)

True